.settings {
  padding-bottom: 88px;
}
.settings-in {
  padding: 0 17px;
}
@media (max-width: 360px) {
  .settings-in {
    padding: 0 10px;
  }
}
.settings-in .user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.settings-in .user-info .avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 25px;
}
.settings-in .user-info .avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.settings-in .user-info .user-name {
  display: flex;
  align-items: center;
  gap: 10px;
}
.settings-in .user-info .user-name span {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  color: #fff;
}
.settings-in .user-info .user-id {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #7d7c82;
}
.settings-in .balance {
  background: #1c1c1c;
  border-radius: 16px;
  padding: 13px 30px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 30px;
}
@media (max-width: 360px) {
  .settings-in .balance {
    padding: 13px 15px;
  }
}
.settings-in .balance .monetary-unit {
  min-width: 34px;
  min-height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #2990ff;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 22px;
  line-height: 117%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.settings-in .balance-val {
  max-width: 260px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}
.settings-in .balance-val span {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 18px;
  text-align: right;
  color: #32c653;
}
.settings-in .settings-nav {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.settings-in .settings-nav__wrapper {
  background: #1c1c1c;
  border-radius: 11px;
  padding-left: 17px;
}
@media (max-width: 360px) {
  .settings-in .settings-nav__wrapper {
    padding-left: 15px;
  }
}
.settings-in .settings-nav__wrapper:nth-child(1) .nav-link__item .icon {
  background: #32ade6;
}
.settings-in .settings-nav__wrapper:nth-child(2) .nav-link__item:nth-child(1) .icon {
  background: #007aff;
}
.settings-in .settings-nav__wrapper:nth-child(2) .nav-link__item:nth-child(2) .icon {
  background: #5856d6;
}
.settings-in .settings-nav__wrapper:nth-child(3) .nav-link__item:nth-child(1) .icon {
  background: #34c759;
}
.settings-in .settings-nav__wrapper:nth-child(3) .nav-link__item:nth-child(2) .icon {
  background: #ff2d55;
}
.settings-in .settings-nav__wrapper:nth-child(3) .nav-link__item:nth-child(3) .icon {
  background: #007aff;
}
.settings-in .settings-nav__wrapper:nth-child(4) .nav-link__item:nth-child(1) .icon {
  background: #fc0;
}
.settings-in .settings-nav__wrapper:nth-child(4) .nav-link__item:nth-child(2) .icon {
  background: #5856d6;
}
.settings-in .settings-nav__wrapper:nth-child(4) .nav-link__item:nth-child(3) .icon {
  background: #ff9500;
}
.settings-in .settings-nav__wrapper:nth-child(5) .nav-link__item:nth-child(1) .icon {
  background-color: #af52de;
}
.settings-in .settings-nav__wrapper:nth-child(5) .nav-link__item:nth-child(2) .icon, .settings-in .settings-nav__wrapper:nth-child(5) .nav-link__item:nth-child(3) .icon {
  background-color: #007aff;
}
.settings-in .settings-nav__wrapper .nav-link__item:last-child .nav-link .right-block {
  border: 0;
}
.settings-in .settings-nav__wrapper .nav-link,
.settings-in .settings-nav__wrapper .lang-accordion,
.settings-in .settings-nav__wrapper .nav-link__item__in {
  display: flex;
  align-items: center;
  gap: 14px;
}
.settings-in .settings-nav__wrapper .nav-link .icon,
.settings-in .settings-nav__wrapper .lang-accordion .icon,
.settings-in .settings-nav__wrapper .nav-link__item__in .icon {
  border-radius: 7px;
  min-width: 30px;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.settings-in .settings-nav__wrapper .nav-link .right-block,
.settings-in .settings-nav__wrapper .lang-accordion .right-block,
.settings-in .settings-nav__wrapper .nav-link__item__in .right-block {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #282828;
  padding-right: 19px;
}
@media (max-width: 360px) {
  .settings-in .settings-nav__wrapper .nav-link .right-block,
  .settings-in .settings-nav__wrapper .lang-accordion .right-block,
  .settings-in .settings-nav__wrapper .nav-link__item__in .right-block {
    padding-right: 15px;
  }
}
.settings-in .settings-nav__wrapper .nav-link .right-block span,
.settings-in .settings-nav__wrapper .lang-accordion .right-block span,
.settings-in .settings-nav__wrapper .nav-link__item__in .right-block span {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 124%;
  color: #fff;
}
.settings-in .settings-nav__wrapper .nav-link .right-block span.color,
.settings-in .settings-nav__wrapper .lang-accordion .right-block span.color,
.settings-in .settings-nav__wrapper .nav-link__item__in .right-block span.color {
  color: #a2acb0;
}
.settings-in .settings-nav__wrapper .nav-link .right-block .switch input,
.settings-in .settings-nav__wrapper .lang-accordion .right-block .switch input,
.settings-in .settings-nav__wrapper .nav-link__item__in .right-block .switch input {
  display: none;
}
.settings-in .settings-nav__wrapper .nav-link .right-block .switch input:checked + .slider,
.settings-in .settings-nav__wrapper .lang-accordion .right-block .switch input:checked + .slider,
.settings-in .settings-nav__wrapper .nav-link__item__in .right-block .switch input:checked + .slider {
  background-color: #efeff4;
}
.settings-in .settings-nav__wrapper .nav-link .right-block .switch input:checked + .slider::after,
.settings-in .settings-nav__wrapper .lang-accordion .right-block .switch input:checked + .slider::after,
.settings-in .settings-nav__wrapper .nav-link__item__in .right-block .switch input:checked + .slider::after {
  left: 2px;
  box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.06), 0 3px 8px 0 rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.04);
}
.settings-in .settings-nav__wrapper .nav-link .right-block .switch .slider,
.settings-in .settings-nav__wrapper .lang-accordion .right-block .switch .slider,
.settings-in .settings-nav__wrapper .nav-link__item__in .right-block .switch .slider {
  display: block;
  background: #34c759;
  border-radius: 16px;
  width: 51px;
  height: 31px;
  position: relative;
  transition: 0.3s;
}
.settings-in .settings-nav__wrapper .nav-link .right-block .switch .slider::after,
.settings-in .settings-nav__wrapper .lang-accordion .right-block .switch .slider::after,
.settings-in .settings-nav__wrapper .nav-link__item__in .right-block .switch .slider::after {
  content: "";
  width: 27px;
  height: 27px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 21px;
  transition: 0.3s;
}
.settings-in .settings-nav__wrapper .lang-accordion {
  flex-direction: column;
  gap: 0;
}
.settings-in .settings-nav__wrapper .lang-accordion .accordion-btn {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
}
.settings-in .settings-nav__wrapper .lang-accordion .accordion-btn .right-block .next-icon {
  transition: 0.3s;
}
.settings-in .settings-nav__wrapper .lang-accordion .accordion-btn.active .right-block .next-icon {
  transform: rotate(90deg);
}
.settings-in .settings-nav__wrapper .lang-accordion .accordion-menu {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding: 0 14px 0 44px;
  transition: 0.3s;
}
.settings-in .settings-nav__wrapper .lang-accordion .accordion-menu .menu-option {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #282828;
}
.settings-in .settings-nav__wrapper .lang-accordion .accordion-menu .menu-option:last-child {
  border: 0;
}
.settings-in .settings-nav__wrapper .lang-accordion .accordion-menu .menu-option .option-val {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 124%;
  color: #fff;
}
.settings-in .settings-nav__wrapper .lang-accordion .accordion-menu .menu-option .option-selected {
  display: none;
}
.settings-in .settings-nav__wrapper .lang-accordion .accordion-menu .menu-option .option-selected.active {
  display: block;
}
.settings-in .settings-nav__wrapper .lang-accordion .accordion-menu.active {
  height: 176px;
}
.settings-in .settings-nav__wrapper .lang-accordion .icon {
  background-color: #af52de;
}/*# sourceMappingURL=settings.css.map */