.friends {
  padding-bottom: 88px;
}
.friends-in {
  padding: 0 17px;
}
@media (max-width: 360px) {
  .friends-in {
    padding: 0 10px;
  }
}
.friends-in .friends-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 22px;
}
.friends-in .friends-home .home-img {
  margin-bottom: 18px;
  margin-top: -13px;
}
.friends-in .friends-home .home-title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  color: #fff;
  margin-bottom: 12px;
}
.friends-in .friends-home .home-description {
  max-width: 355px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 131%;
  text-align: center;
  color: #7d7c82;
}
.friends-in .invite-friends {
  margin-bottom: 32px;
}
.friends-in .invite-friends .invite-friends__in {
  background: #1c1c1c;
  border-radius: 14px;
}
.friends-in .invite-friends .invite-friends__in .invite-friends__list {
  margin-bottom: 24px;
}
.friends-in .invite-friends .invite-friends__in .invite-friends__list .list-item {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 15px 0 0 13px;
}
.friends-in .invite-friends .invite-friends__in .invite-friends__list .list-item .icon {
  border-radius: 6px;
  min-width: 22px;
  min-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.friends-in .invite-friends .invite-friends__in .invite-friends__list .list-item .icon img {
  width: 16px;
  height: 16px;
}
.friends-in .invite-friends .invite-friends__in .invite-friends__list .list-item:nth-child(1) .icon {
  background: #007aff;
}
.friends-in .invite-friends .invite-friends__in .invite-friends__list .list-item:nth-child(2) .icon {
  background: #ff9500;
}
.friends-in .invite-friends .invite-friends__in .invite-friends__list .list-item:last-child .item-body {
  border: 0;
}
.friends-in .invite-friends .invite-friends__in .invite-friends__list .list-item .item-body {
  padding: 0 29px 15px 0;
  border-bottom: 1px solid #c8c7cb;
}
@media (max-width: 360px) {
  .friends-in .invite-friends .invite-friends__in .invite-friends__list .list-item .item-body {
    padding: 0 16px 15px 0;
  }
}
.friends-in .invite-friends .invite-friends__in .invite-friends__list .list-item .item-body .body-title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 15px;
  color: #fff;
  margin-bottom: 2px;
}
.friends-in .invite-friends .invite-friends__in .invite-friends__list .list-item .item-body .body-title span {
  color: #007aff;
}
.friends-in .invite-friends .invite-friends__in .invite-friends__list .list-item .item-body .body-description {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 12px;
  color: #7d7c82;
}
.friends-in .invite-friends .invite-friends__in .invite-friends__btn__wrapper {
  display: flex;
  gap: 6px;
  padding: 0 16px 12px;
  margin-bottom: 9px;
}
.friends-in .invite-friends .invite-friends__in .invite-friends__btn__wrapper .invite-friends__btn {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background: #007aff;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  color: #fff;
}
.friends-in .invite-friends .invite-friends__in .invite-friends__btn__wrapper .copy-btn {
  background: #0f0f0f;
  border-radius: 12px;
  min-width: 50px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #d9ebff;
  box-shadow: inset 0 0 0 50px #d9ebff;
  transition: 0.7s;
}
.friends-in .invite-friends .invite-friends__in .invite-friends__btn__wrapper .copy-btn.active {
  border-color: #007aff;
  box-shadow: inset 0 0 0 0 #d9ebff;
}
.friends-in .invite-friends .invite-friends__bottom {
  display: flex;
  align-items: stretch;
  gap: 10px;
}
.friends-in .invite-friends .invite-friends__bottom .item {
  flex: 1 1 0;
  background: #1c1c1c;
  border-radius: 9px;
  padding: 12px 2px;
}
.friends-in .invite-friends .invite-friends__bottom .item:nth-child(2) .amound {
  color: #007aff;
}
.friends-in .invite-friends .invite-friends__bottom .item:nth-child(2) .item-text {
  color: #007aff;
}
.friends-in .invite-friends .invite-friends__bottom .item:nth-child(3) .amound {
  color: #ff9500;
}
.friends-in .invite-friends .invite-friends__bottom .item:nth-child(3) .item-text {
  color: #ff9500;
}
.friends-in .invite-friends .invite-friends__bottom .item .amound {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #34c759;
}
.friends-in .invite-friends .invite-friends__bottom .item .item-text {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 10px;
  text-align: center;
  color: #34c759;
}
.friends-in .your-referrals .title {
  padding-left: 16px;
  margin-bottom: 7px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 11px;
  line-height: 123%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #707579;
}
.friends-in .your-referrals__list {
  display: flex;
  flex-direction: column;
  gap: 4.7px;
}
.friends-in .your-referrals__list .list-item {
  display: flex;
  align-items: center;
  gap: 14px;
  background: #1c1c1c;
  border-radius: 16px;
  padding: 10px 16px;
}
.friends-in .your-referrals__list .list-item .avatar {
  border-radius: 100%;
  width: 44px;
  height: 42px;
  background: rgba(67, 120, 255, 0.1);
  overflow: hidden;
}
.friends-in .your-referrals__list .list-item .avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.friends-in .your-referrals__list .list-item .item-body .user-name {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 15px;
  line-height: 129%;
  color: #fff;
}
.friends-in .your-referrals__list .list-item .item-body .date {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 13px;
  line-height: 133%;
  color: #707579;
}/*# sourceMappingURL=friends.css.map */